@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0 3%;
    --foreground: 210 20% 98%;
    --card: 0 0% 10%;
    --card-foreground: 210 20% 98%;
    --popover: 0 0 3%;
    --popover-foreground: 210 20% 98%;
    --primary: 262 84% 60%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 28% 17%;
    --secondary-foreground: 210 20% 98%;
    --muted: 220 14% 60%;
    --muted-foreground: 220 9% 46%;
    --accent: 215 28% 17%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 20% 98%;
    --border: 262 84% 60% / 0.2;
    --input: 215 28% 17%;
    --ring: 262 84% 60%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0 3%;
    --foreground: 210 20% 98%;
    --card: 0 0% 10%;
    --card-foreground: 210 20% 98%;
    --popover: 0 0 3%;
    --popover-foreground: 210 20% 98%;
    --primary: 262 84% 60%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 28% 17%;
    --secondary-foreground: 210 20% 98%;
    --muted: 220 14% 60%;
    --muted-foreground: 220 9% 46%;
    --accent: 215 28% 17%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 20% 98%;
    --border: 262 84% 60% / 0.2;
    --input: 215 28% 17%;
    --ring: 262 84% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}
